name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-ui-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install backend deps
        run: npm ci

      - name: Run your build script
        run: npm run build --if-present

      # - name: Start backend
      #   working-directory: server
      #   run: nohup node server.js > backend.log 2>&1 &

      # - name: Wait for backend
      #   working-directory: server
      #   run: npx wait-on http://localhost:3030 --timeout 30000 --retry-interval 1000 --verbose

      # - name: Dump backend logs
      #   working-directory: server
      #   run: backend.log

      # - name: Check backend logs
      #   working-directory: server
      #   run: |
      #     ps aux | grep node
      #     curl -v http://localhost:3030 || echo "Server not ready"


  #     - name: Install Playwright browsers
  #       run: npx playwright install --with-deps

  #     #- name: Wait for backend
  #     #  run: npx wait-on http://localhost:3000

  #     - name: Install frontend deps
  #       run: npm ci

  #     - name: Run UI tests
  #       run: npx playwright test

  # deploy:
  #   needs: build-and-ui-tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Deploy to Render
  #       uses: JorgeLNJunior/render-deploy@v1.4.7
  #       with:
  #         service_id: ${{ secrets.RENDER_SERVICE_ID }}
  #         api_key: ${{ secrets.RENDER_API_KEY }}
  #         wait_deploy: true
