name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      # ---------- FRONTEND ----------
      - name: Install dependencies
        run: npm install


      # ---------- BACKEND ----------
      - name: Install backend deps
        working-directory: server
        run: npm ci

      - name: Start backend
        working-directory: server
        run: |
          node server.js &
          echo $! > server.pid

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Wait for backend to be ready
        run: npx wait-on http://localhost:3000

      - name: Run tests
        run: npx playwright test

  deploy:
    needs: build_test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        uses: JorgeLNJunior/render-deploy@v1.4.7
        with:
          service_id: ${{ secrets.RENDER_SERVICE_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          wait_deploy: true
